body {
    padding: 0;
    overflow: hidden;
    font-family: helvetica, arial, sans-serif;
}

.header {
  position:absolute;
  padding-left: 10%;
  height: 5%;
  width:100%;
  background-color: black;
  font-family: 'Source Serif Pro', serif;
  color:white;
  z-index: 1;
  margin: 0;
}

#map {
    position: absolute;
    right: 0px;
    left: 340px;
    height: 100%;
    top: 5%;
}

.sidebar {
    position: absolute;
    background-color:  #000000;
    left: 0px;
    width: 300px;
    top: 0%;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    border-radius: 3px;
}


div.hr {
  position: fixed;
background: #fff  no-repeat scroll center;
margin-left: 2px;
margin-right: 2px;
width:40%;
height:2px;
bottom: 250px;

}

div.hr hr {
display: none;
}


#button-next{
  position: fixed;
  bottom: 200px;
  left: 200px;
}

#button-prev{
  position: fixed;
  bottom: 200px;
  left: 90px;
}

#image{
  position: absolute;;
  bottom: 33px;
  left: 55px;
}




#text-block{
  padding: 5px;
  text-align: center;
  background-color: #7C7871;
  color: #FFFFFF;
  border: none;
  width: 270px;
  display:none;
  border-radius: 3px;
}

.zoom{
  position: absolute;
  bottom: 100px;
  left: 70px;
  font-size: 10px;
  color: white;
}

.button{
  position: absolute;
  width:100px;
  font-size: 10px;
  font-weight: bold;
  background:  #8E5F00;
  color: #ffffff;
  line-height: 20px;
  letter-spacing: 1px;
  text-shadow: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  cursor:pointer;
}



.button:hover, .button.inverse:hover
{
	background:  #7C7871;
}





#text-title{
  color: white;
  margin-left: 10px;
}

#text-subtitle{
  color: white;
  margin-left: 15px;
}

#filter-status {
    word-wrap: break-word;
}

.flip:hover{
  background-color: #8E5F00;
  cursor:pointer
};
